/*GENERAL*/
*{
	box-sizing: border-box;
}
body{
	display:flex;
	width:1000px;
	max-width: 1000px;
	font-size:16px;
	border: 1px solid black;
	}
h1{
	font-size: 30px;
	font-weight: lighter;
	margin: 0; 
}

h2{
	font-weight: lighter;
	margin-top: 1px;
}

h3{
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 1px solid #B0BEC5;
	margin-left: 10px; 
	list-style: none;
}
h4{
	font-weight: bold;
}
h5{
	font-weight: lighter;
}

p{
 	text-align: justify;
 	font-size: 0.75em;
}
ul{
	list-style: none;

}

/*SIDEBAR*/

#sidebar{
	width: 20%;
	background:#B0BEC5;
	position: relative;
}

#sidebar #photo{
	width:100%;
	height:200px;
	margin:0;
	display:flex;
	justify-content: center;
	align-items:center;
}

#sidebar #photo img{
	border-radius:50%;
	height:100px;
	width:100px;
}

#sidebar .sidebar_titre{
	width:100%;
	background:#424242;
	color: #ECEFF1;
	text-transform:uppercase;
	text-align:center;
	margin:0;
	padding:5px 0;
}

#sidebar #contact ul{
	list-style-type: none;
	margin:0;
	padding-left:20px;
}

#sidebar #contact li{
	margin: 1em 0;
	font-size:0.75em;
}

 #sidebar  #a-propos > p{
 	padding: 15px 10%;
 	margin:0;
 	text-align: justify;
 	font-size: 0.75em;
}

#sidebar #loisirs{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
}

#sidebar footer ul{
	list-style: none;
	padding:0;
	display:flex;
	justify-content:center;
}

#loisirs ul li{
	display: inline-flex;
	list-style-type: none;
	padding: 10px;
}

#loisirs i{
	height:30px;
	width:30px;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items:center;
	border:1px solid black;
}
/*RIGHT-SIDE*/
#phone{
	display: none;
}

/*HEADER*/

header{
	margin-top: 100px;
	height: 100px;
	text-align:center;
	padding-left: 30px;
}

header h1, header h2{
	text-align: left;
}
header h2 #souligne{
	border-bottom: 1px solid #B0BEC5;
}

#clear{
	height: 200px;
}

.yellow{
	color: #B0BEC5;
}

/*SECTION*/

section{
	margin-left: 30px;	
}

section ul{
	display: inline-block;
	text-align: left;
}
/*FORMATION & EXPERIENCE*/

.space{
	padding-right: 25px;
	color: #B0BEC5;
}
.annee{
 display: block;
}
.page{
	display: flex;
}
.droit{
	padding-left: 200px;
	line-height: 1.5px;
}

/*RECOMMANDATION*/
main footer{
	margin-left:30px;
}
.recommandation{
	display: flex;
}
.recommandation-2{
	padding-left:200px;
}

.lieux{
	margin-left: 40px;
}

/* MEDIA QUERIES TABLET*/

@media (max-width: 850px){
	body{
		display: flex;
		flex-direction: column-reverse;
		width: auto;
		border: 1px solid black;
		font-size: 14px;
		margin-top: 0;
	}

/*PHOTO MEDIA QUERIES */

	#phone{
	width:100%;
	height:200px;
	margin:0;
	display:flex;
	justify-content: center;
	align-items:center;
	background:#B0BEC5;
	}
	#phone img{
	border-radius:50%;
	height:100px;
	width:100px;
	}
/*HEADER MEDIA QUERIES*/
	header{
		margin-top: 0;
	}
	header h1{
		text-align: center;	
	}
	header h2 {
		text-align:center;
		
	}

	h3{
		text-align: center;
		margin-bottom: 20px;
		
	}
	section h3{
		margin-bottom:  ;
	}
	section h4{
	text-align: center;
	}

	/*PAGE MEDIA QUERIES*/
	.page{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	p{
		text-align: center;
	}

	li{
		margin-right: 20px: 
	}

	.annee{
		padding-right: 50px;
	}

	.droit{
		padding: 0;
	}

	#sidebar{
		width: 100%;
		height: 450px;
	}

	.recommandation{
		text-align: center;
		display: flex;
		flex-direction: column;
	}

	.recommandation-2{
		text-align: center;
		padding: 0;
	} 

	#sidebar #photo{
		display: none;
	}

	#sidebar #loisirs{
	left:0;
	bottom:0;
	width:100%;
    }

    #sidebar #contact li{
	margin: 1em 0;
	font-size:0.75em;
	text-align: center;
	}

    footer{
    	height: auto;
    }
}